{% extends 'base_ori.html' %}

{% load widget_tweaks static %}

{% block content %}
<div class='signup-view'>
<div class="container-sm">

<main class="form-signin w-100 m-auto text-right">

    <form method="post">
        {% csrf_token %}
        {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</main>
</div>
</div>

{% endblock content %}


