{% extends 'base_ori.html' %}
{% load static %}

<div class='container'>
{{% block content %}

<head>
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
    }

    </style>
    </head>


<div class="container">
  <table>
    <tr>
      <th rowspan="2">a</th>
      <th>b</th>
      <th rowspan="2">d</th>
    </tr>
    <tr>
      <td>c</td>
    </tr>
  </table>
</div>
<br>

<div class="container">
  <table>
    <tr class="bg-primary">
      <th rowspan="2">Title</th>
      <th rowspan="2">Description</th>
      <th colspan="3"><center>Output</center></th>
      <th rowspan="2">Date Created</th>
      <th rowspan="2">Delete</th>
    </tr>
    <tr class="bg-primary">
      <th>Attribute Code</th>
      <th>Label</th>
      <th>Confident Score</th>
    </tr>
    <tr>
      <td rowspan="2">a</td>
      <td rowspan="2">b</td>
      <td>c</td>
      <td>d</td>
      <td>e</td>
      <td rowspan="2">f</td>
      <td rowspan="2">g</td>
      <tr>
        <td>c2</td>
        <td>d2</td>
        <td>e2</td>
      </tr>
      

    </tr>

  </table>
</div>

{% endblock content %}