{% extends 'base_ori.html' %}

{% load widget_tweaks static %}

{% block content %}
<div class='login-view'>
<div class='container-sm'>

    <header>History</header><br><br>
    <form>
        <div class="form-group">
          <label for="producttitle">Product Title</label>
          <input type="title" class="form-control" id="producttitle" placeholder="Enter Product Title">
        <br>
        </div>
        <div class="form-group">
          <label for="productdesc">Product Description</label>
          <textarea type="description" rows="4" cols="50" class="form-control" id="productdesc" placeholder="Enter Product Description"></textarea>
        </div>
        <br>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      </form>

</div>
</div>
{% endblock %}