<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">Simple header</span>
      </a>

      {% if user.is_authenticated %}
    <span class="navbar-text" >Logged as : {{user.get_username}}</span>
    <a class="btn btn-sm btn-outline-secondary" href="{% url 'logout' %}">log out</a> 
{% else %}
    <span class="navbar-text">You are not logged in</span> 
		<a class="btn btn-sm btn-outline-secondary" href="{% url 'login' %}">login</a> 
{% endif %}

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      </ul>
    </header>
  </div>